.noticias {
    width: 100%;
}

.contenedorUno {
    background-color: #000;
    padding: 2em;
}

.contenedorDos {
    background-color: #f0f0f0f0;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.tabla {
    width: 100%;
    overflow: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ultimo {
    width: 100%;
    background-color: hsl(0, 0%, 100%);

}