<div class="container mt-5">

    <div class="contenedorUno">
        <h1 class="text-center titulo">Noticias</h1>
        <div class="row">
            <div class="noticias">
                <app-noticias></app-noticias>
            </div>
        </div>
    </div>

    <div class="contenedorDos bg-oscuro mt-5">
        <div class="tabla text-center">
            <h1 class="titulo">Tabla de posiciones</h1>
            <app-tabla></app-tabla>
        </div>
        <div class="ultimo text-center bg-oscuro">
            <h1 class="titulo">Últimos partidos</h1>
            <app-partidos></app-partidos>
        </div>
    </div>
</div>